{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <section class="img-arrier-plan accroche">

            <div class="px-4 py-5 my-5 text-center text-accroche">
           
            <h1>Envie d'un moment de bien-être ?</h1>
            <div>
                <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" href="#nosService">Services</a>
                <a class="btn btn-outline-light btn-lg px-4" href="#contact">Contact</a>
            </div>
           </div>
        </section>
        <section id="about">
            <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6  about-img"> 
                <img src="{{ asset('/assets/img/bienvenu.jpg')}}" alt="">
                
                 
            </div>
            <div class="col-lg-6 content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <ul class="mt-5">
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
               
                </ul>
                </div>
               </div>
              </div>
 </section>
 <section id="about">
            <div class="container">
            <div class="row mt-5">
            
            <div class="col-lg-6 content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <ul class="mt-5">
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
               
                </ul>
             </div>
             <div class="col-lg-6  about-img"> 
                <img src="{{ asset('/assets/img/bienvenu.jpg')}}" alt="">
            </div>
               </div>
              </div>
         </section>
         <section id="about">
            <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6  about-img"> 
                <img src="{{ asset('/assets/img/bienvenu.jpg')}}" alt="">
            </div>
            <div class="col-lg-6 content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing</h2>
                <ul class="mt-5">
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
               
                </ul>
                </div>
               </div>
              </div>
         </section>
{% endblock %}
